/* Coolors Exported Palette - https://coolors.co/ecd4b8-2a2f27-f7e7d3-d1b997-416d6b */

/* CSS HEX */
--pale-oak: #ecd4b8ff;
--charcoal-brown: #2a2f27ff;
--antique-white: #f7e7d3ff;
--tan: #d1b997ff;
--pine-blue: #416d6bff;

/* CSS HSL */
--pale-oak: hsla(32, 58%, 82%, 1);
--charcoal-brown: hsla(98, 9%, 17%, 1);
--antique-white: hsla(33, 69%, 90%, 1);
--tan: hsla(35, 39%, 71%, 1);
--pine-blue: hsla(177, 25%, 34%, 1);

/* SCSS HEX */
$pale-oak: #ecd4b8ff;
$charcoal-brown: #2a2f27ff;
$antique-white: #f7e7d3ff;
$tan: #d1b997ff;
$pine-blue: #416d6bff;

/* SCSS HSL */
$pale-oak: hsla(32, 58%, 82%, 1);
$charcoal-brown: hsla(98, 9%, 17%, 1);
$antique-white: hsla(33, 69%, 90%, 1);
$tan: hsla(35, 39%, 71%, 1);
$pine-blue: hsla(177, 25%, 34%, 1);

/* SCSS RGB */
$pale-oak: rgba(236, 212, 184, 1);
$charcoal-brown: rgba(42, 47, 39, 1);
$antique-white: rgba(247, 231, 211, 1);
$tan: rgba(209, 185, 151, 1);
$pine-blue: rgba(65, 109, 107, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #ecd4b8ff, #2a2f27ff, #f7e7d3ff, #d1b997ff, #416d6bff);
$gradient-right: linear-gradient(90deg, #ecd4b8ff, #2a2f27ff, #f7e7d3ff, #d1b997ff, #416d6bff);
$gradient-bottom: linear-gradient(180deg, #ecd4b8ff, #2a2f27ff, #f7e7d3ff, #d1b997ff, #416d6bff);
$gradient-left: linear-gradient(270deg, #ecd4b8ff, #2a2f27ff, #f7e7d3ff, #d1b997ff, #416d6bff);
$gradient-top-right: linear-gradient(45deg, #ecd4b8ff, #2a2f27ff, #f7e7d3ff, #d1b997ff, #416d6bff);
$gradient-bottom-right: linear-gradient(135deg, #ecd4b8ff, #2a2f27ff, #f7e7d3ff, #d1b997ff, #416d6bff);
$gradient-top-left: linear-gradient(225deg, #ecd4b8ff, #2a2f27ff, #f7e7d3ff, #d1b997ff, #416d6bff);
$gradient-bottom-left: linear-gradient(315deg, #ecd4b8ff, #2a2f27ff, #f7e7d3ff, #d1b997ff, #416d6bff);
$gradient-radial: radial-gradient(#ecd4b8ff, #2a2f27ff, #f7e7d3ff, #d1b997ff, #416d6bff);